.SavedMeme {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.memeGrid {
    columns: 3;
    column-gap: 20px;
    height: 200%;
    position: relative;
}

.saved_msg {
    font-family: "Roboto";
    color: white;
    margin-bottom: 33px;
}

.saved_msg h1 {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}

.saved_msg p {
    font-weight: 300;
    text-align: center;
    font-size: 19px;
}
@media screen and (max-width: 825px) {
    .memeGrid {
        columns: 2;
    }
}

@media screen and (max-width: 550px) {
    .memeGrid {
        columns: 1;
    }
}
