.Nav {
    background: #302858;
    width: 100%;
    font-family: "Roboto";
    padding: 15px 0;
    position: fixed;
    z-index: 2;
    top: 0;
}

.nav_logo {
    font-size: 24px;
    flex-basis: 25%;
    background: linear-gradient(90deg, #ec006a -2.41%, #992f8b 98.62%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: flex;
    justify-content: space-between;
}

.nav_search {
    background: white;
    flex-basis: 60%;
    border-radius: 6px;
}

.nav_search input {
    width: 100%;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 15px;
}

.nav_container {
    max-width: 1300px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.nav_nav {
    flex: 1;
}

.nav_nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.nav_nav ul li a {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
}

.nav_nav ul li:not(:last-child) {
    margin-right: 40px;
}

.nav_content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_toggle {
    display: none;
}

@media screen and (max-width: 825px) {
    .nav_container {
        flex-direction: column;
        align-items: initial;
    }

    .nav_toggle {
        display: block;
    }

    .nav_content {
        flex-direction: column;
        overflow: hidden;
        align-items: initial;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        transition: all ease 0.5s;
    }

    .nav_search {
        margin-top: 30px;
    }

    .nav_nav ul {
        flex-direction: column;
        margin-top: 10px;
    }

    .nav_nav ul li {
        margin: 20px 0;
    }
}
